<?xml version="1.0"?>
<!--
  ~ @By Alain Landry Noutchomwo
  ~ @Alias Zumento
  ~ @Email alinolandry@gmail.com
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Zumento\GiftCard\Api\Data\GiftCardInterface" type="Zumento\GiftCard\Model\GiftCard" />
    <preference for="Zumento\GiftCard\Api\Data\GiftCardUsageInterface" type="Zumento\GiftCard\Model\GiftCardUsage" />

    <preference for="Zumento\GiftCard\Api\Data\GiftCardSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <virtualType name="Zumento\GiftCard\Model\ResourceModel\Product\Indexer\Price\GiftCardProductPrice"
                 type="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\SimpleProductPrice">
        <arguments>
            <argument name="productType" xsi:type="const">Zumento\GiftCard\Model\Type\GiftCard::TYPE_CODE</argument>
        </arguments>
    </virtualType>

    <!--type name="Magento\InventorySales\Model\IsProductSalableForRequestedQtyCondition\IsProductSalableForRequestedQtyConditionChain">
        <plugin name="PreventInventoryForZumentoGiftcard" type="Zumento\GiftCard\Plugin\PreventInventoryForZumentoGiftcard" />
    </type>

    <type name="Magento\CatalogInventory\Model\Quote\Item\QuantityValidator">
        <plugin name="PreventQuantityLookupForGiftCard" type="Zumento\GiftCard\Plugin\PreventQuantityLookupForGiftCard" />
    </type-->

    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="MoveQuoteItemOptionsToOrderItem" type="Zumento\GiftCard\Plugin\MoveQuoteItemOptionsToOrderItem" />
    </type>
</config>
